<div class="container">
  <div class="row main">
    <div class="main-login main-center">
    <h5>Log in</h5>
      <form class="" method="post" action="#" #loginForm="ngForm">

        <div class="form-group">
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input 
                    type="text" 
                    class="form-control" 
                    name="email" 
                    [(ngModel)]="user['userEmail']" 
                    placeholder="Enter Email"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input 
                    type="password" 
                    class="form-control" 
                    name="password" 
                    [(ngModel)]="user['userPassword']"
                    placeholder="Enter Password"
              />
            </div>
          </div>
        </div>

        <div class="form-group ">
          <a type="button" (click)="userLogin()" class="btn btn-primary btn-lg btn-block login-button">Login</a>
        </div>
        
      </form>
    </div>
  </div>
</div>