<div class="container">
  <div class="row main">
    <div class="main-login main-center">
    <h5>Sign up</h5>
      <form class="" method="post" action="#" #registrationForm="ngForm">
        
        <div class="form-group">
          <!-- <label for="name" class="cols-sm-2 control-label">Your Name</label> -->
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input 
                    type="text" 
                    class="form-control" 
                    name="name" 
                    [(ngModel)]="user['userName']"
                    placeholder="Enter Name"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <!-- <label for="email" class="cols-sm-2 control-label">Your Email</label> -->
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input 
                    type="text" 
                    class="form-control" 
                    name="email" 
                    [(ngModel)]="user['userEmail']" 
                    placeholder="Enter Email"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <!-- <label for="city" class="cols-sm-2 control-label">City</label> -->
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-mobile fa" aria-hidden="true"></i></span>
              <input 
                    type="text" 
                    class="form-control" 
                    name="city" 
                    [(ngModel)]="user['userMobileNo']"
                    placeholder="Enter Mobile No"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <!-- <label for="city" class="cols-sm-2 control-label">City</label> -->
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-building-o fa" aria-hidden="true"></i></span>
              <input 
                    type="text" 
                    class="form-control" 
                    name="city" 
                    [(ngModel)]="user['userCity']"
                    placeholder="Enter City"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <!-- <label for="state" class="cols-sm-2 control-label">State</label> -->
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
              <input 
                    type="text" 
                    class="form-control" 
                    [(ngModel)]="user['userState']"
                    name="state" 
                    placeholder="Enter State"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <!-- <label for="country" class="cols-sm-2 control-label">Country</label> -->
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-flag fa" aria-hidden="true"></i></span>
              <input 
                    type="text" 
                    class="form-control" 
                    name="country" 
                    [(ngModel)]="user['userCountry']"
                    placeholder="Enter Country"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <!-- <label for="password" class="cols-sm-2 control-label">Password</label> -->
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input 
                    type="password" 
                    class="form-control" 
                    name="password" 
                    [(ngModel)]="user['userPassword']"
                    placeholder="Enter Password"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <!-- <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label> -->
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input 
                    type="password" 
                    class="form-control" 
                    name="confirmPassword" 
                    [(ngModel)]="user['confirmPassword']"
                    placeholder="Confirm Password"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
            <!-- <div class="cols-sm-6">
              <a routerLink="/login" class="btn btn-primary btn-lg btn-block login-button">Login</a>
            </div> -->
            <div class="cols-sm-6">
              <a type="button" (click)="userRegistration()" class="btn btn-primary btn-lg btn-block login-button">Register</a>
            </div>
        </div>
        
      </form>
    </div>
  </div>
</div>