<div class="jumbotron text-center">
    <h2 style="float:center">Welcome {{userName}}</h2>
    <div class="dropdown" style="float:right">
        <button 
                class="btn btn-primary dropdown-toggle" 
                type="button" 
                data-toggle="dropdown">Settings
                <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li (click)="signOut()"><a>Sign Out</a></li>
        </ul>
      </div>
</div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
      <a (click)="createPost()"><h4>Create Post</h4></a>
      </div>
      <div class="col-sm-9 post-and-comment">
        <div *ngIf="isCreatePost">
          <form class="" #postForm="ngForm">
            <div class="form-group">
              <label>Title:</label><br>
              <input 
                    type="text" 
                    name="postTitle"
                    class="form-control"
                    [(ngModel)]="post['postTitle']"
                    placeholder="Enter Your Title"
              /><br>
            </div>
            <div class="form-group post-description">
              <label>Description:</label><br>
              <textarea 
                        class="form-control"
                        rows="4" 
                        cols="50" 
                        name="postDescription"
                        [(ngModel)]="post['postDescription']"
                        placeholder="Enter Your Description">
              </textarea><br>
            </div>
            <div>
              <button (click)="publishPost()" class="btn-info post-publish-button">Publish</button>
            </div>
          </form>
        </div>
        <div class="form-group">
          <div class="post-div-scrollable">
            <div class="post" *ngFor="let post of posts; let postIndex=index">
              <b><h3>{{post['postTitle']}}</h3></b>
              <p>{{post['postDescription']}}</p>
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                      <div class="col-sm-3">
                        <a class="btn btn-primary btn-lg btn-block login-button post-like-button " (click)="likePost(post)">Like</a>
                      </div>
                      <div class="col-sm-8">
                        <p>{{post['postLikes']}} likes</p>
                      </div>
                    </div>
                </div>
                <div class="col-sm-6">
                  <p *ngIf="posts[postIndex] && posts[postIndex]['comments']">Comments: {{posts[postIndex]['comments'].length}}</p><br>
                </div>
              </div>
              <div class="row">
                <div style="margin-top: -30px" class="col-sm-10">
                  <form class="" #commentForm="ngForm">
                    <textarea 
                              class="form-control"
                              rows="2" 
                              cols="50" 
                              name="comment"
                              [(ngModel)]="posts[postIndex]['comment']"
                              placeholder="Comment">
                    </textarea>
                    <button (click)="publishComment(postIndex)" class="btn-info comment-publish-button" >Publish</button>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-10">
                  <p *ngIf="posts[postIndex] && posts[postIndex]['comments'] && posts[postIndex]['comments'].length">Comments</p>
                  <div class="comment-div-scrollable">
                    <div class="row" *ngFor="let comment of posts[postIndex]['comments']">
                      <div class="col-sm-10"><button class="comment-text"><b>{{comment['userName']}}</b> {{comment['comment']}}</button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>