.post-div-scrollable{
    max-height: 450px;
    overflow-y:auto;
}

.comment-div-scrollable{
    max-height: 100px;
    overflow-y:auto;
    background: white;
}

.comment-text{
    border: none;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.post-publish-button{
    float: right;
    margin-top: -30px;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-right: 30px;
}

.comment-publish-button{
    float: right;
    margin-top: -30px;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-right: 30px;
    margin-top: 5px;
}

.post-and-comment{
    background: gainsboro !important;
}

.post{
    background:whitesmoke !important;
}

.post-text{
    margin-left: 10px;
}

.post-description{
    margin-top: -30px;
}

.post-like-button{
    margin-bottom: 35px !important;
    padding: 0px !important;   
}